h1{
	color:yellow;
}
.red{
			background-color:red;
}
header{
	background-color: lightgray;
	width: 100%;	
}

footer{
	background-color: lightgray;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;	
}

.heading{
	color: black;
	text-align: center;
	font-size: 14pt;
	padding-top: 5%;	
}

.heading:first-letter{
	font-size: 28pt;
	color: lightgray; 	
}